<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>

<body>
    <div>
        <h1>Welcome <%=username %></h1>
        <a href="/Employee">Dashboard</a>
        <a href="/Logout">logout</a>
    </div>
    <br>
    <br>
    <div>

        <table>
            <tr>
                <td>Name</td>
                <td><%=empObj.EmpName%></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><%=empObj.EmpPhone%></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><%=empObj.EmpAddress%></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    male
                </td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>
                    salesman
                </td>
            </tr>
        </table>


    </div>
</body>

</html>